<div class="bg-center bg-cover bg-no-repeat" style="background-image: url('/img/partners/bewell.jpg')">
    <div class="min-h-screen bg-white-95% py-24 flex items-center">
        <div class="container text-gray-800 lg:flex items-center">
            <div class="text-center md:text-left lg:w-1/2">
                <h2 class="text-4xl lg:text-6xl font-serif">BeWell Med Spa</h2>
                <p class="uppercase text-pink-600 tracking-wider">Wilton Manors Medical Spa</p>
                <p class="leading-relaxed my-8">
                    BeWell MedSpa is Fort Lauderdale's premier medspa, offering a variety of cosmetic products and
                    procedures to discerning clients in the South Florida area. BeWell stands out in a crowded
                    marketplace thanks to the way they make their customers feel.
                </p>
                <p class="leading-relaxed my-8">
                    Development Partners customer acquisition campaigns are the #2 source of business for BeWell,
                    behind only word of mouth referrals from happy customers! Going way beyond customer acquisition,
                    Development Partners also deploys marketing automation and customer retention programs that develop
                    happy, long-term customers.
                </p>
                <p class="my-12">
                    <rounded-button target="_blank" class="bg-pink-200 text-pink-900 text-sm" to="https://bewellmedspa.com/">
                        Learn More About BeWell
                    </rounded-button>
                </p>
            </div>
            <div class="lg:w-1/2 lg:pl-32 py-12">
                <!-- Photo Here -->
            </div>
        </div>
    </div>
</div>
