<div class="bg-center bg-cover bg-no-repeat" style="background-image: url('/img/partners/the-smart-ride.jpg')">
    <div class="min-h-screen bg-blue-900-95% py-24 flex items-center">
        <div class="container text-white lg:flex items-center">
            <div class="text-center md:text-left lg:w-1/2">
                <h2 class="text-4xl lg:text-6xl font-serif">The SMART Ride</h2>
                <p class="uppercase text-blue-200 tracking-wider">Miami to Key West</p>
                <p class="leading-relaxed my-8">
                    The SMART Ride is a non-profit organization that organizes a 165-mile bike ride from Miami to
                    Key West every year to raise money and support multiple HIV/AIDS organizations that provide
                    vital services to patients throughout Florida.
                </p>
                <p class="leading-relaxed my-8">
                    Over the past decade, we have saved The SMART Ride hundreds of thousands of dollars in platform
                    transaction fees that they would have had to pay typical solution providers, at the same time
                    delivering a completely custom platform designed for the SMART Ride Riders and Crew instead of a
                    boxed-in, off the shelf solution.
                </p>
                <p class="my-12">
                    <rounded-button target="_blank" class="bg-blue-200 text-blue-900 text-sm" to="https://thesmartride.org">
                        Learn More About The SMART Ride
                    </rounded-button>
                </p>
            </div>
            <div class="lg:w-1/2 lg:pl-32 py-12">
                <img src="/img/partners/the-smart-ride-team.jpg" alt="The SMART Ride" style="opacity: 0.8">
                <div class="text-xs text-blue-300 text-center my-6">
                    Team Bikesexuals after completing TSR 16 in November 2019. Riders included Chief Strategist
                    Chris Caputo, and Chief Technologist Matt Watson.
                </div>
            </div>
        </div>
    </div>
</div>
