<div class="bg-center bg-cover bg-no-repeat" style="background-image: url('/img/partners/uncs.jpg')">
    <div class="min-h-screen bg-gray-950-90% py-24 flex items-center">
        <div class="container text-white lg:flex items-center">
            <div class="text-center md:text-left lg:w-1/2">
                <h2 class="text-4xl lg:text-6xl font-serif">UNCS</h2>
                <p class="uppercase text-gray-200 tracking-wider">United National Consumer Suppliers</p>
                <p class="leading-relaxed my-8">
                    United National Consumer Suppliers connects a global network of manufacturers, retailers,
                    warehouses and shipping service providers to offer a hugely diverse portfolio of products,
                    creating high-margin business opportunities for all the partners.
                </p>
                <p class="leading-relaxed my-8">
                    Development Partners created a complete ERP system, managing UNCS' customers, outbound
                    marketing, logistics, inventory, invoicing, and more. Our data-gathering, analytics and customer
                    acquisition tools help UNCS unlock difficult-to-penetrate verticals like Amazon and Wal-Mart
                    sellers.
                </p>
                <p class="my-12">
                    <rounded-button target="_blank" class="bg-gray-200 text-gray-900 text-sm" to="https://uncs.com">
                        Learn More About UNCS
                    </rounded-button>
                </p>
            </div>
            <div class="lg:w-1/2 lg:pl-32 py-12">
                <img src="/img/partners/uncs-team.jpg" alt="United National Consumer Suppliers"
                     style="opacity: 0.8">
                <div class="text-xs text-gray-300 text-center my-6">
                    The United National Consumer Suppliers management team.
                </div>
            </div>
        </div>
    </div>
</div>
